@import "./mixins";

#dialogLayer {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
}
.pdfDialog-container{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scrollbar-width: none;
    @include deskTop {
        width: 60%;  
        height: 100%;
    }
    @include tab {
        width: 80%;   
        height: 100vh;
    }
    @include mobile{
        width: 100vw;
        height: 100vh;
        padding-top: 60px;
    }
    background-color: white;
    border-radius: 10px;

    .pdfDialog-closeBtn{
        border-bottom: 1px solid #c4c4c4;      
        padding: 16px;
        display: flex;
        justify-content: flex-end;
        & span {
        cursor: pointer;
        }
    }
    .pdfDialog-wrap{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .pdfDialog-contents{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        @include mobile{
            width: 95%;      
            justify-content: center;    
            padding: 0 16px;
        }  
    }
    .pdfDialog-pageBtn{
        padding: 12px;
        border-radius: 20px;
        background-color: #e1e1e1;
    }
    .pdfDialog{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .pageNum-container{
        text-align: center;
        width: 100%;
        padding: 16px;
        border-top: 1px solid #c4c4c4;    
        font-weight: 300;

    }
}    

