@import "./mixins";

///////////////////////////////// header
@include deskTop {
#HeaderNav {
  border-bottom: 1px solid #c4c4c4;
  padding: 0 100px;
  .heaer-wrap {
    height: 74px;
    width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 75%;
    }
    .nav-wrap {
      display: flex;
      align-items: center;
      font-size: 1.7rem;     
      }
      a {
        margin-left: 40px;
        &:first-child {
          margin-left: 0;
        }
        &:hover {
          color: $emphasis;
        }     
      }
      .nav-introAbout,
      .nav-valueValue,
      .nav-jobsJobs,
      .nav-locateLocation {
        color: $emphasis;
        font-weight: bold;
      }   
    }
  }


//footer
#Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  padding: 100px 0 200px 0;
  border-top: 1px solid #c4c4c4;
  p {
    margin: 0;
    color: #888;
    &:last-child {
      margin-top: 50px;
      font-weight: bold;
    }
  }
}

///////////////////////////////// Home
#Home,
#About {
  margin: 0 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  #img01,
  #img02,
  #img03,
  #img04 {
    width: 100%;
    height: 200vh;
    position: relative;
    margin-top: 150px;
    #img,
    #img2,
    #img3,
    #img4 {
      width: 100%;
       height: 100vh;
     position: sticky;
      top: 0;
      overflow: hidden;
      transform-origin: center center;
     transition-timing-function: ease;
      // .box {
      //   width: 100%;
      //   height: 100%;
      //    &> div {
      //     display: flex;
      //     justify-content: center;

      //    }
      //   transform: translateZ(0);
      //   overflow: hidden;
      //   border-radius: 30px;
      //   img {
      //     position: absolute;
      //   align-self: center;
      //     max-width: 1800px;
      //     width: 100%;
      //     border-radius: 30px;
      //   }
      //   video {
      //     max-width: 1800px;
      //     width: 100%;
      //     position: absolute;
      //     border-radius: 30px;
      //   }
      // }
      .box {
        width: 100%;
        height: 100%;
        transform: translateZ(0);
        overflow: hidden;
        border-radius: 30px;
        img {
          position: absolute;
          width: 100%;
          border-radius: 30px;
        }
        video {
          width: 100%;
          position: absolute;
          border-radius: 30px;
        }
      }

    }
  }
  .txt-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vmin;
    margin-bottom: 30rem;
    text-align: center;
    h1 {
      font-size: 5rem;
      font-weight: bold;
      margin-bottom: 5rem;
    }
    p {
      margin: 0;
      font-size: 2rem;
      line-height: 1.5;
    }
    button {
      margin-top: 50px;
      font-size: 1.7rem;
      border: 1px solid #111;
      border-radius: 30px;
      height: 42px;
      padding: 0px 30px;
      &:hover {
        border: 1px solid $emphasis;
        color: $emphasis;
      }
    }
  }
}


//Value
#Value {
  width: 1100px;
  margin: 15rem auto;
  h2 {
    font-size: 5rem;
    font-weight: bold;
    line-height: 1.5;
    span {
      color: $emphasis;
    }
  }
  .section-01 {
    p {
      color: #fff;
      font-size: 3.8rem;
      font-weight: bold;
      line-height: 1.5;
    }
    .img-bg01 {
      background-color: #000;
      width: 100%;
      height: 550px;
      background-image: url("../img/image_04.png");
      background-repeat: no-repeat;
      background-position: center -100px;
      background-size: cover;
      border-radius: 30px;
      padding: 80px 70px;
      margin-top: 100px;
    }
    .img-wrap {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-top: 30px;
      & > div {
        width: 535px;
        height: 550px;
        border-radius: 30px;
      }
      .img-bg02 {
        background-image: url("../img/image_05.png");
        background-repeat: no-repeat;
        background-position: center -110px;
        background-size: cover;
        padding: 50px 70px;
      }
      .img-bg03 {
        background-image: url("../img/image_06.png");
        background-color: #a2d3ff;
        background-repeat: no-repeat;
        background-position: center 140px;
        background-size: 64%;
        padding: 50px 70px;
        p {
          color: #111;
        }
      }
    }
  }
  .section-02 {
    margin-top: 30rem;
    h2 {
      text-align: center;
      margin-bottom: 100px;
    }
    & > div:last-child {
      margin-top: 30px;
    }
    .icon-wrap {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      & > div {
        width: 535px;
        height: 550px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
        img {
          margin-bottom: 60px;
        }
        p {
          text-align: center;
          font-size: 2.4rem;
          font-weight: bold;
          line-height: 1.7;
        }
        .iconImg-01 {
          width: 150px;
        }
        .iconImg-02 {
          width: 120px;
        }
        .iconImg-03 {
          width: 150px;
        }
        .iconImg-04 {
          width: 130px;
        }
      }
    }
  }
  .section-03 {
    margin: 30rem 0;
    .img-box {
      width: 1100px;
      height: 600px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      img {
        width: 100%;
        margin-top: -40px;
      }
    }
    h2 {
      margin-top: 100px;
      margin-bottom: 20px;
    }    
    .text-box {
      font-size: 2.2rem;
      line-height:1.6;
      margin-bottom: 20px;
      display: flex;
      align-items: baseline;
      h3 {
        font-size: 2.4rem;
        font-weight: 800;
        margin: 18px 0;
      }
      p{
        margin-left: 10px;
        font-weight: 500;
      }
    }
  }
}

//Jobs
#Jobs {
  width: 1100px;
  margin: 15rem auto 30rem;
  h2 {
    font-size: 5rem;
    font-weight: bold;
    line-height: 1.5;
    span {
      color: $emphasis;
    }
  }
  .jobs-img{
    width: 1100px;
    border-radius: 20px;
    margin-top:100px;
  }
  .job-btn {
    width: 100%;
    border: 1px solid #b4b4b4;
    text-align: center;
    border-radius: 20px;
    line-height: 64px;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 30px;
    &:hover{
      color: $emphasis;
      border-color: $emphasis;
      cursor: pointer;
      transition-timing-function: ease;
      transition-duration: 0.8s;
      transition-delay: 0.1s;
    }
  }
}

#Location {
  width: 1100px;
  margin: 15rem auto 30rem;
  h2 {
    font-size: 5rem;
    font-weight: bold;
    line-height: 1.5;
  }
  .img-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    & div {
      width: 535px;
      height: 550px;
      border-radius: 30px;
    }
    p {
      color: #fff;
      font-size: 5rem;   
    } 
  }
  .imgBox{
    mix-blend-mode: luminosity;  
    &:hover{
      mix-blend-mode: normal;
    }  
    & div{
      background-color: rgba(0,0,0,0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: #fff;
      font-size: 5rem;   
      &:hover{
        cursor: pointer;
        background-color: rgba(0,0,0,0.3);
        transition-timing-function: ease;
        transition-duration: 1s;
      }
    }
  }
  .bg01{  
    background-image: url("../img/fuel.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 30px;  
  }
  .bg02{   
    background: url("../img/image03.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: -265px;
    background-size: cover;
    margin-top: 30px; 
  }
  .bg03{   
    background: url("../img/handshake.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 100px; 
  }
}

.about-container {
  width: 1100px;
  margin: 10vw auto 30rem;
  h2 {
    font-size: 5rem;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 30px;
    span {
      color: $emphasis;
    }
  }
  .aboutTxt-wrap{
    display: flex;
    flex-direction: column;
    margin-top: -18vmin;
    margin-bottom: 30rem;
    text-align: left;   
    p {      
      font-size: 2.4rem;
      line-height: 1.7;
      margin-bottom: 30px;
      color: #666;
      font-weight: 500;
    }
  }
  .ci-container{
    margin-bottom: 30rem;
    .img-wrap{
      margin-top: 6rem;
      .img-box{
        border: 1px solid #e0e0e0;
        border-radius: 30px;
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        .img01 {
          width: 50%;
        }
        .img02 {
          width: 90%;
        }
      }
      .img-box2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 30px 0;
        & > div {
          border: 1px solid #e0e0e0;
          border-radius: 30px;
          width: 49%;
          height: 300px;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 60%;
          }
        }
      }
    }
    .sub-txt{
      margin: 16px 0;
      font-size: 1.6rem;
    }
  } 
  .history-container{
    font-weight: bold;
   .title{
     font-size: 2.4rem;    
     margin-top: 100px;
   } 
   .title.second{
     margin-top: 200px;
   }
   .subContent {
    font-size: 2rem;  
    font-weight: 500;
    margin-top: 30px;
    line-height: 1.7;
    word-break: keep-all;
   }
   .history-box {
    border: 1px solid #e0e0e0;
    border-radius: 14px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;   
    padding: 0 30px;    
    margin-top: 30px;
    & p:first-child{
      color: #888;
    }
   }
  }
}
}
.pdfDialog{
  border: none;
}